


<div class="row justify-content-md-center">
  <div class="col-md-8">
    <% provide(:title, "Contact") %>
    <h1><%= t :contact %></h1>
    <div style='width: 800px;'>  
      <div id="map" style='width: 800px; height: 400px;'></div>  
    </div>  
  </div>
</div>

<script type="text/javascript">  
  handler = Gmaps.build('Google');  
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
    markers = handler.addMarkers([  
      {  
        "lat": 21.028511,  
        "lng": 105.804817,  
        "picture": {  
          "width":  32,  
          "height": 32  
        },  
        "infowindow": "SJSU"  
      }  
    ]);  
    handler.bounds.extendWith(markers);  
    handler.fitMapToBounds();  
  });  
</script>