<ul class="notificator" style="padding: 0px;">
  <div id="notificationContainer">
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList" style="padding: 0px;">
        <%= render notifications %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>